@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    height: 0;
    overflow: hidden;
  }

  .header .navbar.active {
    height: auto;
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .home {
    flex-direction: column;
    height: auto;
    padding: 12rem;
  }

  .home .content {
    width: 100%;
    text-align: center;
    left: 0;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  .home .content p {
    font-size: 1.8rem;
  }

  /* Ajuster l'image swiper */
  .swiper {
    position: relative;
    top: 0;
    right: 0;
    width: 150px;  /* Réduire la taille */
    height: 200px;
  }

  .swiper-slide {
    width: 250px; /* Ajuster pour correspondre à la taille de la swiper */
    height: 250px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 90%;  /* Positionner correctement les boutons */
  }

  .card-name {
    font-size: 1.5rem;
    bottom: 40px;
  }

  .cards .zoom-button {
    width: 2.5rem;
    height: 2.5rem;
    bottom: -3rem;
  }

  .cards .zoom-button i {
    font-size: 1.3rem;
  }

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }
