@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    height: 0;
    overflow: hidden;
  }

  .header .navbar.active {
    height: 17rem;
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .home .content p {
    font-size: 2rem;
  }
  .home .content h3 {
    font-size: 3rem;
  }

  .cards .zoom-button {
    width: 2.5rem;
    height: 2.5rem;
    bottom: -3rem;
  }

  .cards .zoom-button i {
    font-size: 1.3rem;
  }

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }
